
<template>
    <v-layout row justify-center>
      <v-dialog v-model="met"  max-width="1600px">
        <v-btn icon ripple slot="activator" >
            <v-chip :color=chipColor(metassessment.overall) :text-color=chipTextColor(metassessment.overall)>
              <v-avatar :class=avatarColor(metassessment.overall)>{{getletter(metassessment.overall)}}</v-avatar>
          </v-chip>
        </v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{metassessment.description}} : {{metassessment.abbreviation}}</span>
          </v-card-title>
          <hr />
          <pesto v-bind:assessment="metassessment"></pesto>

          <v-list >
              <v-list-tile>
                <v-list-tile-content>Name:    {{metassessment.name}}</v-list-tile-content>
                
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>Status:    {{metassessment.status}}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>Date Assessed:   {{shortdate(metassessment.assessed)}}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>Achieved:    {{metassessment.acheived}}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>Current:   {{metassessment.current}}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>Next:    {{metassessment.next}}</v-list-tile-content>
              </v-list-tile>
          </v-list>          

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.onclick="met = false">Close</v-btn>
          </v-card-actions>
        </v-card>


      </v-dialog>
    </v-layout>
  </template>
<script src="./met.ts"></script>