<template>
    <div>
        <div id="DetailsSection">
            <div class="container-fluid">
                <div id="DetailsContentSection" class="row">
                    <div id="DetailsContentSectionLeft" class="col-sm-4">
                        <v-flex>
                            <v-card>
                                <v-toolbar>
                                    <v-toolbar-side-icon></v-toolbar-side-icon>
                                    <v-toolbar-title>Capabilities</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                </v-toolbar>
                                <v-list two-line subheader>
                                    <v-list-group v-for="(capability,index) in capabilities" :key="capability.name" prepend-icon="folder">
                                        <v-list-tile slot="activator" @click.native="currentcapability=index">
                                            <v-list-tile-content>
                                                <v-list-tile-title>{{capability.description === "NULL" ? "": capability.description+" : "}}{{capability.abbreviation}}</v-list-tile-title>
                                                <v-list-tile-sub-title>Date assessed: {{shortdate(capability.assessed)}}</v-list-tile-sub-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile v-for="met in capability.metAssessments" :key="met.abbreviation" @click="">
                                            <v-list-tile-content>
                                                <v-list-tile-title>{{met.description === "NULL" ? "": met.description+" : "}}{{met.abbreviation}}</v-list-tile-title>
                                                <v-list-tile-sub-title>Date assessed: {{shortdate(met.assessed)}}</v-list-tile-sub-title>
                                            </v-list-tile-content>
                                            <v-list-tile-action>
                                                <met v-bind:metassessment="met"></met>
                                            </v-list-tile-action>
                                        </v-list-tile>
                                    </v-list-group>
                                </v-list>
                            </v-card>
                        </v-flex>

                    </div>

                    <div id="DetailsContentSectionRight" class="col-sm-8">
                        <div id="DetailsPesto" class="row">
                            <pesto v-bind:assessment="capabilities[currentcapability]"></pesto>
                        </div>
 
                        <hr />
                        
                        <div id="MicroDetails" class="row">
                                <div id="Capability Name" class="col-sm-3">
                                        <strong>Name:</strong>
                                        <span>{{capabilities[currentcapability].name}}</span>                                
                                </div>
                                 <div class="col-sm-3">
                                <strong>Capability:</strong>
                                <span>{{capabilities[currentcapability].description === "NULL" ? "": capabilities[currentcapability].description+" : "}}{{capabilities[currentcapability].abbreviation}}</span>
                            </div>
                            <div class="col-sm-3">
                                <strong>Status:</strong>
                                <span>{{capabilities[currentcapability].status}}</span>
                            </div>
                            <div class="col-sm-3">
                                <strong>Date Assessed:</strong>
                                <span>{{shortdate(capabilities[currentcapability].assessed)}}</span>
                            </div>
                            <div class="col-sm-3">
                                <strong>Standards Achieved:</strong>
                                <span>{{capabilities[currentcapability].achieved}}</span>
                            </div>
                        </div>
                        <hr />

                        <v-container grid-list-md text-xs-center>
                            <v-layout row wrap>
                                <v-flex xs6>

                                    <h4>Current Rating</h4>
                                    <v-btn-toggle   v-model="capabilities[currentcapability].current">
                                            <v-btn    color="success">Yes</v-btn>
                                            <v-btn    color="warning">Qualified</v-btn>
                                            <v-btn    color="error">No</v-btn>
                                        </v-btn-toggle>
                                    </v-flex>
                                <v-flex xs6>
                                    <h4>Next Rating</h4>
                                    <v-btn-toggle   v-model="capabilities[currentcapability].next">
                                        <v-btn    color="success">Yes</v-btn>
                                        <v-btn    color="warning">Qualified</v-btn>
                                        <v-btn    color="error">No</v-btn>
                                    </v-btn-toggle>

                                </v-flex>
                            </v-layout>
                        </v-container>
                        <hr />

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <h4 class="panel-title">

                                            <span class="fa fa-angle-double-down pull-right">
                                            </span>Comments
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <form>
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <label for="Personnel">Personnel</label>
                                                    <textarea class="form-control" id="Personnel" rows="3"></textarea>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="Equipment">Equipment</label>
                                                    <textarea class="form-control" id="Equipment" rows="3"></textarea>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="Supply">Supply</label>
                                                    <textarea class="form-control" id="Supply" rows="3"></textarea>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="Training">Training</label>
                                                    <textarea class="form-control" id="Training" rows="3"></textarea>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="Ordinance">Ordinance</label>
                                                    <textarea class="form-control" id="Ordinance" rows="3"></textarea>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="Facility">Facility</label>
                                                    <textarea class="form-control" id="Facility" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div id="Standards" class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <h4 class="panel-title">
                                            <span class="fa fa-angle-double-down pull-right">
                                            </span>Standards
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-bordered table-responsive">
                                            <thead>
                                                <tr class="isiuxTableHeader">
                                                    <th scope="col">Performance Measure</th>
                                                    <th scope="col">Scale</th>
                                                    <th scope="col">Criterion</th>
                                                    <th scope="col">Assessed Value</th>
                                                    <th scope="col">Observed Value</th>
                                                    <th scope="col">Observed Date</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td width="30%">Of required transportation assets, represented by planned transportation
                                                        assets, in TPFDD for current operation.</td>
                                                    <td class="scale">Percent</td>
                                                    <td class="criterion">> 90</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="AssessedValue" id="AssessedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedValue" id="ObservedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedDate" id="ObservedDate">
                                                    </td>
                                                    <td class="status">Achieved</td>
                                                    <td>
                                                        <span class="fa text-danger fa-close" aria-hidden="true"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="30%">Of required transportation assets, represented by planned transportation
                                                        assets, in TPFDD for current operation.</td>
                                                    <td class="scale">Percent</td>
                                                    <td class="criterion">> 90</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="AssessedValue" id="AssessedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedValue" id="ObservedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedDate" id="ObservedDate">
                                                    </td>
                                                    <td class="status">Achieved</td>
                                                    <td>
                                                        <span class="fa text-danger fa-close" aria-hidden="true"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="30%">Of required transportation assets, represented by planned transportation
                                                        assets, in TPFDD for current operation.</td>
                                                    <td class="scale">Percent</td>
                                                    <td class="criterion">> 90</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="AssessedValue" id="AssessedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedValue" id="ObservedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedDate" id="ObservedDate">
                                                    </td>
                                                    <td class="status">Achieved</td>
                                                    <td>
                                                        <span class="fa text-danger fa-close" aria-hidden="true"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="30%">Rate of Movement.</td>
                                                    <td class="scale">Knots</td>
                                                    <td class="criterion">= 80</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="AssessedValue" id="AssessedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedValue" id="ObservedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedDate" id="ObservedDate">
                                                    </td>
                                                    <td class="status">Achieved</td>
                                                    <td>
                                                        <span class="fa text-danger fa-close" aria-hidden="true"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="30%">Rate of Movement.</td>
                                                    <td class="scale">Knots</td>
                                                    <td class="criterion">= 80</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="AssessedValue" id="AssessedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedValue" id="ObservedValue">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" name="ObservedDate" id="ObservedDate">
                                                    </td>
                                                    <td class="status">Achieved</td>
                                                    <td>
                                                        <span class="fa text-danger fa-close" aria-hidden="true"></span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="Conditions" class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

                                        <h4 class="panel-title">
                                            <span class="fa fa-angle-double-down pull-right">
                                            </span>Conditions
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse ">
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</template>


<script src="./capabilityassessments.ts"></script>