<template>
    <v-container grid-list-xs>
        <v-layout row align-content-center>
    
            <v-flex xs2 >
                    <v-spacer></v-spacer>
                <v-chip :color=chipColor(assessment.personnel) :text-color=chipTextColor(assessment.personnel)>
                    <v-avatar :class=avatarColor(assessment.personnel)>{{assessment.personnel}}</v-avatar>
                    Personnel
                </v-chip>
            </v-flex>
            <v-flex xs2 >
                <v-chip :color=chipColor(assessment.equipment) :text-color=chipTextColor(assessment.equipment)>
                    <v-avatar :class=avatarColor(assessment.equipment)>{{assessment.equipment}}</v-avatar>
                    Equipment
                </v-chip>
            </v-flex>
            <v-flex xs2 >
                <v-chip :color=chipColor(assessment.supply) :text-color=chipTextColor(assessment.supply)>
                    <v-avatar :class=avatarColor(assessment.supply)>{{assessment.supply}}</v-avatar>
                    Supply
                </v-chip>
            </v-flex>
            <v-flex xs2 >
                <v-chip :color=chipColor(assessment.training) :text-color=chipTextColor(assessment.training)>
                    <v-avatar :class=avatarColor(assessment.training)>{{assessment.training}}</v-avatar>
                    Training
                </v-chip>
            </v-flex>
            <v-flex xs2 >
                <v-chip :color=chipColor(assessment.ordnance) :text-color=chipTextColor(assessment.ordnance)>
                    <v-avatar :class=avatarColor(assessment.ordnance)>{{assessment.ordnance}}</v-avatar>
                    Ordnance
                </v-chip>
            </v-flex>
            <v-flex xs2 >
                <v-chip :color=chipColor(assessment.overall) :text-color=chipTextColor(assessment.overall)>
                    <v-avatar :class=avatarColor(assessment.overall)>{{assessment.overall}}</v-avatar>
                    Overall
                </v-chip>
            </v-flex>


        </v-layout>
    </v-container>


</template>

<script src="./pesto.ts"></script>